<link rel="stylesheet" href="/static/css/loginpage-style.css">
  <div class="login-form">
    <h1>Login</h1>
    <div class="form-group ">
      <input type="text" class="form-control" placeholder="Username" id="UserName" name="name">
      <i class="fa fa-user"></i>
    </div>
    <div class="form-group ">
      <input type="text" class="form-control" placeholder="Idade" id="UserName" name="age">
      <i class="fa fa-user"></i>
    </div>
    <div class="form-group ">
      <input type="text" class="form-control" placeholder="Email" id="UserName" name="email">
      <i class="fa fa-user"></i>
    </div>
    <div class="form-group log-status">
      <input type="password" class="form-control" placeholder="Password" id="Passwod" name="password">
      <i class="fa fa-lock"></i>
    </div>
    <button type="button" class="log-btn" onclick="login()"><a href="index.html">Log in</a></button>
    
  </div>
  <script src="/templates/script/loginpage-script.js"></script>
