<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Café</title>
    <link rel="stylesheet" href="/static/css/style-menupage.css">
    <link rel="icon" href="/static/images/Logo.png" type="image/png">

</head>
<header>
    <nav class="navbar section-content">
        <a href="" class="nav-logo">
            <h2 class="logo-text"><img src="/static/images/logo-simples.png" alt="logo-simples" class="logo-simples"></h2>
        </a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="index.html" class="nav-link">🏚️</a>
            </li>
            <li class="nav-item">
                <input type="text" name="text" id="search-menu" class="nav-link" placeholder="Pesquise">
            </li>
            
        </ul>
    </nav>
</header>
<body>
    <main> 
        
    </main>
</body>
<div id="root"></div>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel" src="/templates/script/script-menu.js"></script>
</html>
