<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Café</title>
    <link rel="stylesheet" href="/static/css/style-menupage.css">
    <link rel="icon" href="/static/images/Logo.png" type="image/png">

</head>
<header>
    <nav class="navbar section-content">
        <a href="{{ url_for('home') }}" class="nav-logo">
            <h2 class="logo-text">☕ Café da Júlio</h2>
        </a>
        <ul class="nav-menu">
            <li class="nav-item"><a href="{{ url_for('contato') }}" class="nav-link">Contato</a></li>
            {% if session.get('user') %}
                <li class="nav-item"><a href="{{ url_for('dashboard') }}" class="nav-link">Minha Conta</a></li>
                <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Sair</a></li>
            {% else %}
                <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link active">Login</a></li>
                <li class="nav-item"><a href="{{ url_for('create_account') }}" class="nav-link">Cadastre-se</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<div class="carrinho-flutuante">
    <a href="{{ url_for('carrinho') }}" class="carrinho-link">
        <div class="carrinho-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.468 15.426.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z"/>
            </svg>
            {% if 'carrinho' in session and session['carrinho'] %}
                <span class="carrinho-quantidade">{{ session['carrinho']|length }}</span>
            {% endif %}
        </div>
    </a>
</div>

<div id="root"></div>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel" src="{{ url_for('static', filename='script/script-menu.js') }}"></script>
</html>
